header.header
  tabs(:tabs='tabs', @tabchange='_tabschange', :style='styles',:tabsImgShow="tabsImgShow")
    template(scope='slotScope')
      div(v-for='item in slotScope.data', v-show='item.header.selected==url')
        h2 {{item.body.one}}
  img(src="../../img/bearFixed.png", class="bearFixed",:click="clicktoGetMoney")
  div.trade
    div.inner
      p.left
        span.price
          | ¥ 19.8
        span.peopleNumber
          |已经有3433人购买
      p.right(@click="buyRightNow")
        |立即购买

    Alerts(
    v-if="show==true",
    :defaultOptions="defaultOptions",
    :content="content",
    @onClose="del",
    @onEnter="enter")
