<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="./main.css"/>
  <body>
    <h1>koa2 demo index page</h1>
    <p>this is a index page</p>
    <ul>
      <li>
        <a href="/">/</a>
      </li>
      <li>
        <a href="/index">/index</a>
      </li>
      <li>
        <a href="/todo">/todo</a>
      </li>
      <li>
        <a href="/404">/404</a>
      </li>
      <li>
        <a href="/nofund">/nofund</a>
      </li>
    </ul>

  </body>
</html>
