<!DOCTYPE html>
<html utf-8>
<head>
      <meta charset="utf-8">
	<title></title>
</head>
<style type="text/css">
  li {
    list-style: none;
  }
</style>
<body>
	<div id="app">
		<button @click="clicknow">add</button>
		<h1>{{t}}</h1>
    <p v-show='show'>show</p>
    <p v-if='if'>if</p>
    <p>{{m}}</p>
    <ul>
     <li v-for='i in item'>{{i}}</li>
    </ul>
	</div>
</body>
<script src="./src/vue.js"></script>
<script type="text/javascript">
var vm = new Vue({
  el: '#app',
  watch: {
    t(value) {
      console.log(value, 'watch value');
    }
  },
  computed: {
    m() {
      return this.t;
    }
  },
  data: function() {
    return {
      show: false,
      name: 'name',
      t: 1,
      c: 'i im content',
      if: false,
      item: [1, 2, 3, 4]
    };
  },
  methods: {
    clicknow: function(e) {
      this.t++;
      console.log(this);
      this.show = true;
      // this.c = 'you are content';
    },
    show: function(e) {
      console.log('show');
    }
  },
  created() {
    console.log('cteated');
  },
  mounted() {
    console.log('mounted');
  },
  updated() {
    console.log('updated');
  }
});
console.log(vm);
setTimeout(() => {
  // vm.t++;
  vm.t++;
  // vm.item.push(2);
  // console.log(vm.item);
}, 1000);
</script>
</html>